TAIS Script/Service References/NewBookingManager/BookingManager13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://5jprodr4xapi.navitaire.com/BookingManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FlightType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="NonStop" />
      <xs:enumeration value="Through" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Connect" />
      <xs:enumeration value="All" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlightType" nillable="true" type="tns:FlightType" />
  <xs:simpleType name="DOW">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="WeekDay" />
      <xs:enumeration value="Saturday" />
      <xs:enumeration value="Sunday" />
      <xs:enumeration value="WeekEnd" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DOW" nillable="true" type="tns:DOW" />
  <xs:simpleType name="AvailabilityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Standby" />
      <xs:enumeration value="Overbook" />
      <xs:enumeration value="NoPricing" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvailabilityType" nillable="true" type="tns:AvailabilityType" />
  <xs:simpleType name="AvailabilityFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="ExcludeDeparted" />
      <xs:enumeration value="ExcludeImminent" />
      <xs:enumeration value="ExcludeUnavailable" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AvailabilityFilter" nillable="true" type="tns:AvailabilityFilter" />
  <xs:simpleType name="FareClassControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LowestFareClass" />
      <xs:enumeration value="CompressByProductClass" />
      <xs:enumeration value="Default" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FareClassControl" nillable="true" type="tns:FareClassControl" />
  <xs:simpleType name="SSRCollectionsMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Leg" />
      <xs:enumeration value="Segment" />
      <xs:enumeration value="All" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSRCollectionsMode" nillable="true" type="tns:SSRCollectionsMode" />
  <xs:simpleType name="InboundOutbound">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Inbound" />
      <xs:enumeration value="Outbound" />
      <xs:enumeration value="Both" />
      <xs:enumeration value="RoundFrom" />
      <xs:enumeration value="RoundTo" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InboundOutbound" nillable="true" type="tns:InboundOutbound" />
  <xs:complexType name="ArrayOfJourneySortKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JourneySortKey" type="tns:JourneySortKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJourneySortKey" nillable="true" type="tns:ArrayOfJourneySortKey" />
  <xs:simpleType name="JourneySortKey">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceType" />
      <xs:enumeration value="ShortestTravelTime" />
      <xs:enumeration value="LowestFare" />
      <xs:enumeration value="HighestFare" />
      <xs:enumeration value="EarliestDeparture" />
      <xs:enumeration value="LatestDeparture" />
      <xs:enumeration value="EarliestArrival" />
      <xs:enumeration value="LatestArrival" />
      <xs:enumeration value="NoSort" />
      <xs:enumeration value="BiasOnlineCommercialDuplicates" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JourneySortKey" nillable="true" type="tns:JourneySortKey" />
  <xs:simpleType name="FareRuleFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="TripPlanner" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FareRuleFilter" nillable="true" type="tns:FareRuleFilter" />
  <xs:simpleType name="ServiceBundleControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="ReturnServiceBundleSets" />
      <xs:enumeration value="ReturnServiceBundleOffers" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceBundleControl" nillable="true" type="tns:ServiceBundleControl" />
  <xs:simpleType name="BookingStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Hold" />
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="HoldCanceled" />
      <xs:enumeration value="PendingArchive" />
      <xs:enumeration value="Archived" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookingStatus" nillable="true" type="tns:BookingStatus" />
  <xs:simpleType name="OSISeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Critical" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OSISeverity" nillable="true" type="tns:OSISeverity" />
  <xs:simpleType name="MessageState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Clean" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageState" nillable="true" type="tns:MessageState" />
  <xs:simpleType name="FareStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="SameDayStandBy" />
      <xs:enumeration value="FareOverrideConfirming" />
      <xs:enumeration value="FareOverrideConfirmed" />
      <xs:enumeration value="PublishedFareOverrideConfirming" />
      <xs:enumeration value="PublishedFareOverrideConfirmed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FareStatus" nillable="true" type="tns:FareStatus" />
  <xs:simpleType name="FareApplicationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Route" />
      <xs:enumeration value="Sector" />
      <xs:enumeration value="Governing" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FareApplicationType" nillable="true" type="tns:FareApplicationType" />
  <xs:simpleType name="ChargeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FarePrice" />
      <xs:enumeration value="Discount" />
      <xs:enumeration value="IncludedTravelFee" />
      <xs:enumeration value="IncludedTax" />
      <xs:enumeration value="TravelFee" />
      <xs:enumeration value="Tax" />
      <xs:enumeration value="ServiceCharge" />
      <xs:enumeration value="PromotionDiscount" />
      <xs:enumeration value="ConnectionAdjustmentAmount" />
      <xs:enumeration value="AddOnServicePrice" />
      <xs:enumeration value="IncludedAddOnServiceFee" />
      <xs:enumeration value="AddOnServiceFee" />
      <xs:enumeration value="Calculated" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="AddOnServiceMarkup" />
      <xs:enumeration value="FareSurcharge" />
      <xs:enumeration value="Loyalty" />
      <xs:enumeration value="FarePoints" />
      <xs:enumeration value="DiscountPoints" />
      <xs:enumeration value="AddOnServiceCancelFee" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChargeType" nillable="true" type="tns:ChargeType" />
  <xs:simpleType name="CollectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SellerChargeable" />
      <xs:enumeration value="ExternalChargeable" />
      <xs:enumeration value="SellerNonChargeable" />
      <xs:enumeration value="ExternalNonChargeable" />
      <xs:enumeration value="ExternalChargeableImmediate" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CollectType" nillable="true" type="tns:CollectType" />
  <xs:simpleType name="ClassStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Active" />
      <xs:enumeration value="InActive" />
      <xs:enumeration value="AVSOpen" />
      <xs:enumeration value="AVSOnRequest" />
      <xs:enumeration value="AVSClosed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClassStatus" nillable="true" type="tns:ClassStatus" />
  <xs:simpleType name="LegStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Canceled" />
      <xs:enumeration value="Suspended" />
      <xs:enumeration value="ClosedPending" />
      <xs:enumeration value="BlockAllActivities" />
      <xs:enumeration value="Mishap" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LegStatus" nillable="true" type="tns:LegStatus" />
  <xs:simpleType name="NestType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Net" />
      <xs:enumeration value="Serial" />
      <xs:enumeration value="OneBooking" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NestType" nillable="true" type="tns:NestType" />
  <xs:simpleType name="ArrivalStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Arrived" />
      <xs:enumeration value="SeeAgent" />
      <xs:enumeration value="Delayed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ArrivalStatus" nillable="true" type="tns:ArrivalStatus" />
  <xs:simpleType name="DepartureStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Boarding" />
      <xs:enumeration value="SeeAgent" />
      <xs:enumeration value="Delayed" />
      <xs:enumeration value="Departed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DepartureStatus" nillable="true" type="tns:DepartureStatus" />
  <xs:simpleType name="BaggageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Checked" />
      <xs:enumeration value="Removed" />
      <xs:enumeration value="Added" />
      <xs:enumeration value="AddedPrinted" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaggageStatus" nillable="true" type="tns:BaggageStatus" />
  <xs:simpleType name="SeatPreference">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Window" />
      <xs:enumeration value="Aisle" />
      <xs:enumeration value="NoPreference" />
      <xs:enumeration value="Front" />
      <xs:enumeration value="Rear" />
      <xs:enumeration value="WindowFront" />
      <xs:enumeration value="WindowRear" />
      <xs:enumeration value="AisleFront" />
      <xs:enumeration value="AisleRear" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeatPreference" nillable="true" type="tns:SeatPreference" />
  <xs:simpleType name="LiftStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="CheckedIn" />
      <xs:enumeration value="Boarded" />
      <xs:enumeration value="NoShow" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LiftStatus" nillable="true" type="tns:LiftStatus" />
  <xs:simpleType name="TripType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OneWay">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="RoundTrip">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="HalfRound">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="OpenJaw">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="CircleTrip">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Unmapped">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="TripType" nillable="true" type="tns:TripType" />
  <xs:simpleType name="WeightType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Pounds" />
      <xs:enumeration value="Kilograms" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeightType" nillable="true" type="tns:WeightType" />
  <xs:simpleType name="ChannelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="GDS" />
      <xs:enumeration value="API" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelType" nillable="true" type="tns:ChannelType" />
  <xs:simpleType name="ServiceBundleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Included" />
      <xs:enumeration value="AddOn" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceBundleType" nillable="true" type="tns:ServiceBundleType" />
  <xs:simpleType name="ServiceBundleSSRType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InBundle" />
      <xs:enumeration value="InBundleUpgrade" />
      <xs:enumeration value="NotInBundle" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceBundleSSRType" nillable="true" type="tns:ServiceBundleSSRType" />
  <xs:simpleType name="MovePassengerJourneyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="IROP" />
      <xs:enumeration value="Diversion" />
      <xs:enumeration value="FlightClose" />
      <xs:enumeration value="FlyAhead" />
      <xs:enumeration value="SplitJourney" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MovePassengerJourneyType" nillable="true" type="tns:MovePassengerJourneyType" />
  <xs:simpleType name="FlyAheadOfferStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Involuntary" />
      <xs:enumeration value="Voluntary" />
      <xs:enumeration value="DisabledIfFirstLeg" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FlyAheadOfferStatus" nillable="true" type="tns:FlyAheadOfferStatus" />
  <xs:simpleType name="FeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="All" />
      <xs:enumeration value="Tax" />
      <xs:enumeration value="TravelFee" />
      <xs:enumeration value="ServiceFee" />
      <xs:enumeration value="PaymentFee" />
      <xs:enumeration value="PenaltyFee" />
      <xs:enumeration value="SSRFee" />
      <xs:enumeration value="NonFlightServiceFee" />
      <xs:enumeration value="UpgradeFee" />
      <xs:enumeration value="SeatFee" />
      <xs:enumeration value="BaseFare" />
      <xs:enumeration value="SpoilageFee" />
      <xs:enumeration value="NameChangeFee" />
      <xs:enumeration value="ConvenienceFee" />
      <xs:enumeration value="BaggageFee" />
      <xs:enumeration value="FareSurcharge" />
      <xs:enumeration value="PromotionDiscount" />
      <xs:enumeration value="ServiceBundle" />
      <xs:enumeration value="ExtraBagFee" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FeeType" nillable="true" type="tns:FeeType" />
  <xs:simpleType name="FeeApplicationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PNR" />
      <xs:enumeration value="Journey" />
      <xs:enumeration value="Segment" />
      <xs:enumeration value="Leg" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FeeApplicationType" nillable="true" type="tns:FeeApplicationType" />
  <xs:simpleType name="SSRAvailabilityMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NonBundledSSRs" />
      <xs:enumeration value="BundledSSRs" />
      <xs:enumeration value="FilteredBundleSSRs" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSRAvailabilityMode" nillable="true" type="tns:SSRAvailabilityMode" />
  <xs:simpleType name="FindBookingBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RecordLocator" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="ThirdPartyRecordLocator" />
      <xs:enumeration value="Name" />
      <xs:enumeration value="AgentID" />
      <xs:enumeration value="AgentName" />
      <xs:enumeration value="AgencyNumber" />
      <xs:enumeration value="EmailAddress" />
      <xs:enumeration value="PhoneNumber" />
      <xs:enumeration value="CreditCardNumber" />
      <xs:enumeration value="CustomerNumber" />
      <xs:enumeration value="ContactCustomerNumber" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="OSTag" />
      <xs:enumeration value="TravelDocument" />
      <xs:enumeration value="BookingDate" />
      <xs:enumeration value="ReferenceNumber" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FindBookingBy" nillable="true" type="tns:FindBookingBy" />
  <xs:simpleType name="GetBookingBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RecordLocator" />
      <xs:enumeration value="ThirdPartyRecordLocator" />
      <xs:enumeration value="ID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetBookingBy" nillable="true" type="tns:GetBookingBy" />
  <xs:simpleType name="PriceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invalid" />
      <xs:enumeration value="Override" />
      <xs:enumeration value="Valid" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceStatus" nillable="true" type="tns:PriceStatus" />
  <xs:simpleType name="BookingProfileStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="KnownIndividual" />
      <xs:enumeration value="ResolutionGroup" />
      <xs:enumeration value="SelecteeGroup" />
      <xs:enumeration value="NotUsed" />
      <xs:enumeration value="FailureGroup" />
      <xs:enumeration value="RandomSelectee" />
      <xs:enumeration value="Exempt" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookingProfileStatus" nillable="true" type="tns:BookingProfileStatus" />
  <xs:simpleType name="PaidStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnderPaid" />
      <xs:enumeration value="PaidInFull" />
      <xs:enumeration value="OverPaid" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaidStatus" nillable="true" type="tns:PaidStatus" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="XX" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="WeightCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Child" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WeightCategory" nillable="true" type="tns:WeightCategory" />
  <xs:simpleType name="TravelDocumentSource">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Manual" />
      <xs:enumeration value="Scanned" />
      <xs:enumeration value="CustomerProfile" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TravelDocumentSource" nillable="true" type="tns:TravelDocumentSource" />
  <xs:simpleType name="CommentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Itinerary" />
      <xs:enumeration value="Manifest" />
      <xs:enumeration value="Alert" />
      <xs:enumeration value="Archive" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommentType" nillable="true" type="tns:CommentType" />
  <xs:simpleType name="QueueEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="BookingBalanceDue" />
      <xs:enumeration value="BookingNegativeBalance" />
      <xs:enumeration value="BookingCustomerComment" />
      <xs:enumeration value="DeclinedPaymentInitial" />
      <xs:enumeration value="DeclinedPaymentChange" />
      <xs:enumeration value="FareOverride" />
      <xs:enumeration value="ScheduleTimeChange" />
      <xs:enumeration value="ScheduleTimeChangeMisconnect" />
      <xs:enumeration value="ScheduleCancellation" />
      <xs:enumeration value="FlightDesignatorChange" />
      <xs:enumeration value="ReaccommodationMove" />
      <xs:enumeration value="GDSCancelWithPendingPayment" />
      <xs:enumeration value="InvalidPriceStatusOverride" />
      <xs:enumeration value="FareRestrictionOverride" />
      <xs:enumeration value="HeldBookings" />
      <xs:enumeration value="InvalidPriceStatus" />
      <xs:enumeration value="Watchlist" />
      <xs:enumeration value="NonFlightServiceFee" />
      <xs:enumeration value="NotAllTicketNumbersReceived" />
      <xs:enumeration value="BookingSegmentOversold" />
      <xs:enumeration value="ReaccommodationCancel" />
      <xs:enumeration value="ExternalSSRAutoConfirmed" />
      <xs:enumeration value="OpCarrierSegUpdate" />
      <xs:enumeration value="OpCarrierSSRUpdate" />
      <xs:enumeration value="OpCarrierOtherUpdate" />
      <xs:enumeration value="NameChangeNotAllowed" />
      <xs:enumeration value="InboundASCNotProcessed" />
      <xs:enumeration value="OpCarrierInformationChange" />
      <xs:enumeration value="BookingComponentUpdate" />
      <xs:enumeration value="GroupBookings" />
      <xs:enumeration value="BankDirectPNROutOfBalance" />
      <xs:enumeration value="NoSeatAssigned" />
      <xs:enumeration value="SeatNumberChange" />
      <xs:enumeration value="SSRNotSupportedOnNewSeat" />
      <xs:enumeration value="FewerSeatPreferencesMetOnNewSeat" />
      <xs:enumeration value="AOSUnableToConfirmCancel" />
      <xs:enumeration value="ETicketIssue" />
      <xs:enumeration value="ETicketFollowup" />
      <xs:enumeration value="InvoluntaryFlyAhead" />
      <xs:enumeration value="ManualClearanceOnOutage" />
      <xs:enumeration value="UnbalancedPoints" />
      <xs:enumeration value="VoluntaryFlightChange" />
      <xs:enumeration value="InvoluntaryFlightChange" />
      <xs:enumeration value="OpCarrierTimeChange" />
      <xs:enumeration value="OACarrierTimeChange" />
      <xs:enumeration value="MustBeSeatGroupViolation" />
      <xs:enumeration value="HoldCancellationFailed" />
      <xs:enumeration value="ItineraryIntegrity" />
      <xs:enumeration value="ScheduleTimeChangeWithDynamicQueueCode" />
      <xs:enumeration value="ReaccommodationMoveWithDynamicQueueCode" />
      <xs:enumeration value="ReducePartyNotProcessed" />
      <xs:enumeration value="CheckedPassengerUpdate" />
      <xs:enumeration value="NameChangeWithinRule" />
      <xs:enumeration value="IncompletePassengerEMDCoupon" />
      <xs:enumeration value="ASVCUpdateFailed" />
      <xs:enumeration value="ScheduleTimeChangeMisconnectBelowMinimum" />
      <xs:enumeration value="ScheduleTimeChangeMisconnectAboveMaximum" />
      <xs:enumeration value="FailedFareClassRealignment" />
      <xs:enumeration value="OpCarrierMisconnect" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueueEventType" nillable="true" type="tns:QueueEventType" />
  <xs:simpleType name="QueueAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Lock" />
      <xs:enumeration value="DefaultAndNotify" />
      <xs:enumeration value="WarningAndNotify" />
      <xs:enumeration value="LockAndNotify" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueueAction" nillable="true" type="tns:QueueAction" />
  <xs:simpleType name="QueueMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EnQueued" />
      <xs:enumeration value="DeQueued" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QueueMode" nillable="true" type="tns:QueueMode" />
  <xs:simpleType name="DistributionOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Mail" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="MailFax" />
      <xs:enumeration value="Airport" />
      <xs:enumeration value="Hold" />
      <xs:enumeration value="Print" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DistributionOption" nillable="true" type="tns:DistributionOption" />
  <xs:simpleType name="NotificationPreference">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Promotional" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationPreference" nillable="true" type="tns:NotificationPreference" />
  <xs:simpleType name="PaymentReferenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Booking" />
      <xs:enumeration value="Session" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentReferenceType" nillable="true" type="tns:PaymentReferenceType" />
  <xs:simpleType name="PaymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrePaid" />
      <xs:enumeration value="ExternalAccount" />
      <xs:enumeration value="AgencyAccount" />
      <xs:enumeration value="CustomerAccount" />
      <xs:enumeration value="Voucher" />
      <xs:enumeration value="Loyalty" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentMethodType" nillable="true" type="tns:PaymentMethodType" />
  <xs:simpleType name="BookingPaymentStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Received" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="PendingCustomerAction" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookingPaymentStatus" nillable="true" type="tns:BookingPaymentStatus" />
  <xs:simpleType name="AuthorizationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Acknowledged" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="InProcess" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Referral" />
      <xs:enumeration value="PickUpCard" />
      <xs:enumeration value="HotCard" />
      <xs:enumeration value="Voided" />
      <xs:enumeration value="Retrieval" />
      <xs:enumeration value="ChargedBack" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="ValidationFailed" />
      <xs:enumeration value="Address" />
      <xs:enumeration value="VerificationCode" />
      <xs:enumeration value="FraudPrevention" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthorizationStatus" nillable="true" type="tns:AuthorizationStatus" />
  <xs:simpleType name="DCCStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DCCNotOffered" />
      <xs:enumeration value="DCCOfferRejected" />
      <xs:enumeration value="DCCOfferAccepted" />
      <xs:enumeration value="DCCInitialValue" />
      <xs:enumeration value="MCCInUse" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DCCStatus" nillable="true" type="tns:DCCStatus" />
  <xs:simpleType name="ChargeOrigin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Internal" />
      <xs:enumeration value="External" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChargeOrigin" nillable="true" type="tns:ChargeOrigin" />
  <xs:simpleType name="ParticipantDataUseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prompt" />
      <xs:enumeration value="DoNotPrompt" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParticipantDataUseStatus" nillable="true" type="tns:ParticipantDataUseStatus" />
  <xs:simpleType name="AOSFeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Tax" />
      <xs:enumeration value="Markup" />
      <xs:enumeration value="Discount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AOSFeeType" nillable="true" type="tns:AOSFeeType" />
  <xs:simpleType name="PaymentOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SellingSystemCollects">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PassThroughHold">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NoPaymentRequired">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReferToSupplierMessage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PassThroughCharge">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentOptions" nillable="true" type="tns:PaymentOptions" />
  <xs:simpleType name="CancelBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Journey" />
      <xs:enumeration value="Fee" />
      <xs:enumeration value="SSR" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CancelBy" nillable="true" type="tns:CancelBy" />
  <xs:simpleType name="SellSSRMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NonBundle" />
      <xs:enumeration value="Bundle" />
      <xs:enumeration value="BundleSSRSwap" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SellSSRMode" nillable="true" type="tns:SellSSRMode" />
  <xs:simpleType name="DivideAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Divide" />
      <xs:enumeration value="DivideAndCancel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DivideAction" nillable="true" type="tns:DivideAction" />
  <xs:simpleType name="FareOverrideMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DiscountedPrice" />
      <xs:enumeration value="PublishedPrice" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FareOverrideMode" nillable="true" type="tns:FareOverrideMode" />
  <xs:simpleType name="RequestPaymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrePaid" />
      <xs:enumeration value="ExternalAccount" />
      <xs:enumeration value="AgencyAccount" />
      <xs:enumeration value="CreditShell" />
      <xs:enumeration value="CreditFile" />
      <xs:enumeration value="Voucher" />
      <xs:enumeration value="Loyalty" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RequestPaymentMethodType" nillable="true" type="tns:RequestPaymentMethodType" />
  <xs:simpleType name="PaymentValidationErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="Amount" />
      <xs:enumeration value="ExpirationDate" />
      <xs:enumeration value="RestrictionHours" />
      <xs:enumeration value="MissingAccountNumber" />
      <xs:enumeration value="MissingExpirationDate" />
      <xs:enumeration value="PaymentSystemUnavailable" />
      <xs:enumeration value="MissingParentPaymentID" />
      <xs:enumeration value="InProcessPaymentChanged" />
      <xs:enumeration value="InvalidNumberOfInstallments" />
      <xs:enumeration value="CreditShellCommentRequired" />
      <xs:enumeration value="NoQuotedCurrencyProvided" />
      <xs:enumeration value="NoBaseCurrencyForBooking" />
      <xs:enumeration value="QuotedCurrencyDoesNotMatchBaseCurrency" />
      <xs:enumeration value="QuotedRefundAmountNotLessThanZero" />
      <xs:enumeration value="QuotedPaymentAmountIsLessThanZero" />
      <xs:enumeration value="RoleCodeNotFound" />
      <xs:enumeration value="UnknownOrInactivePaymentMethod" />
      <xs:enumeration value="DepositPaymentsNotAllowedForPaymentMethod" />
      <xs:enumeration value="UnableToRetrieveRoleCodeSettings" />
      <xs:enumeration value="DepositPaymentsNotAllowedForRole" />
      <xs:enumeration value="PaymentMethodNotAllowedForRole" />
      <xs:enumeration value="InvalidAccountNumberLength" />
      <xs:enumeration value="PaymentTextIsRequired" />
      <xs:enumeration value="InvalidPaymentTextLength" />
      <xs:enumeration value="InvalidMiscPaymentFieldLength" />
      <xs:enumeration value="MiscPaymentFieldRequired" />
      <xs:enumeration value="BookingCurrencyIsInvalidForSkyPay" />
      <xs:enumeration value="SkyPayExceptionThrown" />
      <xs:enumeration value="InvalidAccountNumberForPaymentMethod" />
      <xs:enumeration value="InvalidELVTransaction" />
      <xs:enumeration value="BlackListedCard" />
      <xs:enumeration value="InvalidPaymentAddress" />
      <xs:enumeration value="InvalidSecurityCode" />
      <xs:enumeration value="InvalidCurrencyCode" />
      <xs:enumeration value="InvalidAmount" />
      <xs:enumeration value="PossibleFraud" />
      <xs:enumeration value="InvalidCustomerAccount" />
      <xs:enumeration value="AccountHolderIsNotAnAgency" />
      <xs:enumeration value="InvalidStartDate" />
      <xs:enumeration value="InvalidInitialPaymentStatus" />
      <xs:enumeration value="PaymentCurrencyMustMatchBookingCurrency" />
      <xs:enumeration value="CollectedAmountMustMatchPaymentAmount" />
      <xs:enumeration value="RefundsNotAllowedUsingThisPaymentMethod" />
      <xs:enumeration value="CreditShellAmountGreaterThanOrEqualToZero" />
      <xs:enumeration value="CreditFileAmountLessThanOrEqualToZero" />
      <xs:enumeration value="InvalidPrepaidApprovalCodeLength" />
      <xs:enumeration value="AccountNumberFailedModulousCheck" />
      <xs:enumeration value="NoExternalRatesAvailable" />
      <xs:enumeration value="ExternalCurrencyConversion" />
      <xs:enumeration value="InvalidVoucher" />
      <xs:enumeration value="StoredCardSecurityViolation" />
      <xs:enumeration value="AccountNumberDecryptionFailure" />
      <xs:enumeration value="DirectCurrencyConversionIssueOnRefund" />
      <xs:enumeration value="InvalidAgencyAccount" />
      <xs:enumeration value="InvalidAccountTransactionCode" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentValidationErrorType" nillable="true" type="tns:PaymentValidationErrorType" />
  <xs:simpleType name="SeatAssignmentMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AutoDetermine" />
      <xs:enumeration value="PreSeatAssignment" />
      <xs:enumeration value="WebCheckIn" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeatAssignmentMode" nillable="true" type="tns:SeatAssignmentMode" />
  <xs:simpleType name="SeatAvailability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Reserved" />
      <xs:enumeration value="Blocked" />
      <xs:enumeration value="HeldForAnotherSession" />
      <xs:enumeration value="HeldForThisSession" />
      <xs:enumeration value="Open" />
      <xs:enumeration value="Missing" />
      <xs:enumeration value="NotVisible" />
      <xs:enumeration value="CheckedIn" />
      <xs:enumeration value="FleetBlocked" />
      <xs:enumeration value="Restricted" />
      <xs:enumeration value="Broken" />
      <xs:enumeration value="ReservedForPNR" />
      <xs:enumeration value="SoftBlocked" />
      <xs:enumeration value="Unavailable" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SeatAvailability" nillable="true" type="tns:SeatAvailability" />
  <xs:simpleType name="EquipmentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="JetAircraft" />
      <xs:enumeration value="PistonAircraft" />
      <xs:enumeration value="TurbopropAircraft">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Helicopter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Surface">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Train">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bus">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AllCategories">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">127</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EquipmentCategory" nillable="true" type="tns:EquipmentCategory" />
  <xs:simpleType name="UnitHoldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Session" />
      <xs:enumeration value="Blocked" />
      <xs:enumeration value="Broken" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Interactive" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnitHoldType" nillable="true" type="tns:UnitHoldType" />
  <xs:simpleType name="ApplyServiceBundle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
      <xs:enumeration value="Copy" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApplyServiceBundle" nillable="true" type="tns:ApplyServiceBundle" />
  <xs:simpleType name="PriceItineraryBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JourneyBySellKey" />
      <xs:enumeration value="Journey" />
      <xs:enumeration value="JourneyWithLegs" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriceItineraryBy" nillable="true" type="tns:PriceItineraryBy" />
  <xs:simpleType name="SellBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="JourneyBySellKey" />
      <xs:enumeration value="Journey" />
      <xs:enumeration value="SSR" />
      <xs:enumeration value="Fee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SellBy" nillable="true" type="tns:SellBy" />
  <xs:simpleType name="SellFeeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceFee" />
      <xs:enumeration value="PenaltyFee" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SellFeeType" nillable="true" type="tns:SellFeeType" />
  <xs:simpleType name="IgnoreLiftStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IgnoreNotAllowed" />
      <xs:enumeration value="IgnoreCheckin" />
      <xs:enumeration value="IgnoreBoarded" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IgnoreLiftStatus" nillable="true" type="tns:IgnoreLiftStatus" />
  <xs:simpleType name="PricingType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Route" />
      <xs:enumeration value="RouteAndSector" />
      <xs:enumeration value="UseSystemSetting" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PricingType" nillable="true" type="tns:PricingType" />
  <xs:simpleType name="BookingBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RecordLocator" />
      <xs:enumeration value="ID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookingBy" nillable="true" type="tns:BookingBy" />
  <xs:simpleType name="GetBookingFilteredBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RecordLocator" />
      <xs:enumeration value="ID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetBookingFilteredBy" nillable="true" type="tns:GetBookingFilteredBy" />
  <xs:simpleType name="TicketReturnCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="TicketNotFound" />
      <xs:enumeration value="NotAuthorized" />
      <xs:enumeration value="IssueRetrievingTicket" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TicketReturnCode" nillable="true" type="tns:TicketReturnCode" />
  <xs:simpleType name="BaggageCheckType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Checked" />
      <xs:enumeration value="CarryOn" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaggageCheckType" nillable="true" type="tns:BaggageCheckType" />
  <xs:simpleType name="BaggageAllowanceBehavior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="WeightSharing" />
      <xs:enumeration value="PerPiece" />
      <xs:enumeration value="PerPieceWithWeightSharing" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaggageAllowanceBehavior" nillable="true" type="tns:BaggageAllowanceBehavior" />
  <xs:simpleType name="BaggageDimensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Centimeters" />
      <xs:enumeration value="Inches" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaggageDimensionType" nillable="true" type="tns:BaggageDimensionType" />
  <xs:simpleType name="ProcessBaggageActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Add">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CheckIn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Print">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProcessBaggageActionType" nillable="true" type="tns:ProcessBaggageActionType" />
  <xs:simpleType name="DocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="AlienRegistrationCard" />
      <xs:enumeration value="PermanentResidentCard" />
      <xs:enumeration value="FacilitationDocument" />
      <xs:enumeration value="INSPass" />
      <xs:enumeration value="MilitaryID" />
      <xs:enumeration value="Passport" />
      <xs:enumeration value="ReEntryPermit" />
      <xs:enumeration value="CreditCard" />
      <xs:enumeration value="TravelVisa" />
      <xs:enumeration value="OAFrequentFlyer" />
      <xs:enumeration value="ParoleLetter" />
      <xs:enumeration value="NoticeOfAction" />
      <xs:enumeration value="TransportationLetter" />
      <xs:enumeration value="BorderCrossingCard" />
      <xs:enumeration value="PilotLicense" />
      <xs:enumeration value="USNaturalizationCertificate" />
      <xs:enumeration value="RefugeeTravelDocument" />
      <xs:enumeration value="GovernmentID" />
      <xs:enumeration value="DriversLicense" />
      <xs:enumeration value="RedressNumber" />
      <xs:enumeration value="KnownTravelerID" />
      <xs:enumeration value="FormOfID" />
      <xs:enumeration value="Nexus" />
      <xs:enumeration value="SecondaryExempt" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentType" nillable="true" type="tns:DocumentType" />
</xs:schema>