TAIS Script/Service References/NewBookingManager/BookingManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/TravelCommerce" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/TravelCommerce" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://5jprodr4xapi.navitaire.com/BookingManager.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ServiceCancelRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ItemIDList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="RequestItems" nillable="true" type="tns:ArrayOfServiceCancelRequestItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCancelRequest" nillable="true" type="tns:ServiceCancelRequest" />
  <xs:complexType name="ArrayOfServiceCancelRequestItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCancelRequestItem" nillable="true" type="tns:ServiceCancelRequestItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCancelRequestItem" nillable="true" type="tns:ArrayOfServiceCancelRequestItem" />
  <xs:complexType name="ServiceCancelRequestItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemSequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCancelRequestItem" nillable="true" type="tns:ServiceCancelRequestItem" />
</xs:schema>