TAIS Script/Service References/NewBookingManager/BookingManager9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContractVersion" type="xs:int" />
  <xs:element name="EnableExceptionStackTrace" type="xs:boolean" />
  <xs:element name="MessageContractVersion" nillable="true" type="xs:string" />
  <xs:element name="Signature" nillable="true" type="xs:string" />
  <xs:element name="GetBookingFromStateRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordLocatorReqData" nillable="true" type="xs:string" />
</xs:schema>