TAIS Script/Service References/NewBookingManager/BookingManager12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://5jprodr4xapi.navitaire.com/BookingManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:import schemaLocation="https://5jprodr4xapi.navitaire.com/BookingManager.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfOtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherServiceInformation" nillable="true" type="tns:ArrayOfOtherServiceInformation" />
  <xs:complexType name="OtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="OsiSeverity" type="q1:OSISeverity" />
      <xs:element minOccurs="0" name="OSITypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
  <xs:complexType name="StateMessage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="State" type="q2:MessageState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateMessage" nillable="true" type="tns:StateMessage" />
  <xs:complexType name="FlightDesignator">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpSuffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightDesignator" nillable="true" type="tns:FlightDesignator" />
  <xs:complexType name="PointOfSale">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointOfSale" nillable="true" type="tns:PointOfSale" />
  <xs:complexType name="ArrayOfRecordLocator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordLocator" nillable="true" type="tns:RecordLocator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordLocator" nillable="true" type="tns:ArrayOfRecordLocator" />
  <xs:complexType name="RecordLocator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="SystemDomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InteractionPurpose" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HostedCarrierCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RecordLocator" nillable="true" type="tns:RecordLocator" />
  <xs:complexType name="TCOrderItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TCResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:OrderPayment" />
          <xs:element minOccurs="0" name="CRL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SupplierCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CorpDiscountCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RuleSetID" type="xs:int" />
          <xs:element minOccurs="0" name="RatingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AllowsSku" type="xs:boolean" />
          <xs:element minOccurs="0" name="AllowsGiftWrap" type="xs:boolean" />
          <xs:element minOccurs="0" name="BasePrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="PreTaxTotalNow" type="xs:decimal" />
          <xs:element minOccurs="0" name="PreTaxTotalLater" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxTotalLater" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxTotalNow" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalLater" type="xs:decimal" />
          <xs:element minOccurs="0" name="TotalNow" type="xs:decimal" />
          <xs:element minOccurs="0" name="BasePriceTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="DescriptionLong" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="DisplayPriceTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="ThumbFilename" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MarkupAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="MarkupAmountTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="NewFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ActiveStatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="FeesTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Field1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Field2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Field3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Field4" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Field5" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkuExpectedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemSequence" type="xs:int" />
          <xs:element minOccurs="0" name="CatalogCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkuId" type="xs:int" />
          <xs:element minOccurs="0" name="IsDueNow" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExternalSkuId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalSkuCatalogId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UsageDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkuDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GiftWrapped" type="xs:boolean" />
          <xs:element minOccurs="0" name="GiftWrapMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleCodeSupplierPortal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarningList" nillable="true" type="tns:ArrayOfTCWarning" />
          <xs:element minOccurs="0" name="TermsConditionsList" nillable="true" type="tns:ArrayOfTermsConditions" />
          <xs:element minOccurs="0" name="CancellationPolicies" nillable="true" type="tns:ArrayOfTermsConditions" />
          <xs:element minOccurs="0" name="ParticipantList" nillable="true" type="tns:ArrayOfParticipant" />
          <xs:element minOccurs="0" name="OrderCustomer" nillable="true" type="tns:OrderCustomer" />
          <xs:element minOccurs="0" name="TaxExempt" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrderItemStatusCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TaxAtUnitPrice" type="xs:boolean" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PromoCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="ListPriceTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountAmountTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="PersonalizationPriceTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="HandlingCharge" type="xs:decimal" />
          <xs:element minOccurs="0" name="HandlingChargeTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="HandlingDiscount" type="xs:decimal" />
          <xs:element minOccurs="0" name="HandlingDiscountTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountedHandlingChargeTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountedListPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountedListPriceTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxableTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="TaxRate" type="xs:int" />
          <xs:element minOccurs="0" name="ServicesTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="Total" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderHandling" nillable="true" type="tns:OrderHandling" />
          <xs:element minOccurs="0" name="OrderItemAddress" nillable="true" type="tns:OrderItemAddress" />
          <xs:element minOccurs="0" name="OrderItemPersonalizationList" nillable="true" type="tns:ArrayOfOrderItemPersonalization" />
          <xs:element minOccurs="0" name="OrderItemSkuDetailValueList" nillable="true" type="tns:ArrayOfOrderItemSkuDetail" />
          <xs:element minOccurs="0" name="OrderItemNoteList" nillable="true" type="tns:ArrayOfOrderItemNote" />
          <xs:element minOccurs="0" name="OrderItemLocatorList" nillable="true" type="tns:ArrayOfOrderItemLocator" />
          <xs:element minOccurs="0" name="OrderItemFeeList" nillable="true" type="tns:ArrayOfFee" />
          <xs:element minOccurs="0" name="OrderItemLocationList" nillable="true" type="tns:ArrayOfOrderItemLocation" />
          <xs:element minOccurs="0" name="OrderItemParameterList" nillable="true" type="tns:ArrayOfOrderItemParameter" />
          <xs:element minOccurs="0" name="OrderItemStatusHistoryList" nillable="true" type="tns:ArrayOfOrderItemStatusHistory" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PaymentOption" type="q3:PaymentOptions" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="OrderItemOrderPaymentList" nillable="true" type="q4:ArrayOfint" />
          <xs:element minOccurs="0" name="OrderItemElementList" nillable="true" type="tns:ArrayOfOrderItemElement" />
          <xs:element minOccurs="0" name="CancellationNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CancellationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ComparisonKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TCOrderItem" nillable="true" type="tns:TCOrderItem" />
  <xs:complexType name="TCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCResponse" nillable="true" type="tns:TCResponse" />
  <xs:complexType name="OrderPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentSequence" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumberID" type="xs:long" />
      <xs:element minOccurs="0" name="CCExpiration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCCvv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="IssueNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderPayment" nillable="true" type="tns:OrderPayment" />
  <xs:complexType name="ArrayOfTCWarning">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCWarning" nillable="true" type="tns:TCWarning" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCWarning" nillable="true" type="tns:ArrayOfTCWarning" />
  <xs:complexType name="TCWarning">
    <xs:sequence>
      <xs:element minOccurs="0" name="WarningCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarningText" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Origin" type="q5:ChargeOrigin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TCWarning" nillable="true" type="tns:TCWarning" />
  <xs:complexType name="ArrayOfTermsConditions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TermsConditions" nillable="true" type="tns:TermsConditions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTermsConditions" nillable="true" type="tns:ArrayOfTermsConditions" />
  <xs:complexType name="TermsConditions">
    <xs:sequence>
      <xs:element minOccurs="0" name="TermsConditionsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplaySequence" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Origin" type="q6:ChargeOrigin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TermsConditions" nillable="true" type="tns:TermsConditions" />
  <xs:complexType name="ArrayOfParticipant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Participant" nillable="true" type="tns:Participant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParticipant" nillable="true" type="tns:ArrayOfParticipant" />
  <xs:complexType name="Participant">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParticipantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipantSequence" type="xs:int" />
      <xs:element minOccurs="0" name="PrimaryFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocNumber" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="DocIssuedBy" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="DocTypeCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="County" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneHome" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="BusOrRes" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneFax" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneWork" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="tns:RequestedFieldOfdateTime" />
      <xs:element minOccurs="0" name="ParticipantTypeCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="ParticipantTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneMobile" nillable="true" type="tns:RequestedFieldOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Participant" nillable="true" type="tns:Participant" />
  <xs:complexType name="RequestedFieldOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestedFieldOf{0}{#}" Namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="UseStatus" type="q7:ParticipantDataUseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestedFieldOfstring" nillable="true" type="tns:RequestedFieldOfstring" />
  <xs:complexType name="RequestedFieldOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestedFieldOf{0}{#}" Namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="UseStatus" type="q8:ParticipantDataUseStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestedFieldOfdateTime" nillable="true" type="tns:RequestedFieldOfdateTime" />
  <xs:complexType name="OrderCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="County" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneHome" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneFax" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="PhoneWork" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="BusOrRes" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="tns:RequestedFieldOfstring" />
      <xs:element minOccurs="0" name="Field1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="tns:RequestedFieldOfdateTime" />
      <xs:element minOccurs="0" name="PhoneMobile" nillable="true" type="tns:RequestedFieldOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCustomer" nillable="true" type="tns:OrderCustomer" />
  <xs:complexType name="OrderHandling">
    <xs:sequence>
      <xs:element minOccurs="0" name="HandlingCharge" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="OrderDiscount" nillable="true" type="tns:OrderDiscount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHandling" nillable="true" type="tns:OrderHandling" />
  <xs:complexType name="ChargeableItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Origin" type="q9:ChargeOrigin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeableItem" nillable="true" type="tns:ChargeableItem" />
  <xs:complexType name="OrderDiscount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="tns:DiscountTarget" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDiscount" nillable="true" type="tns:OrderDiscount" />
  <xs:complexType name="DiscountTarget">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListPrice" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fees" type="xs:boolean" />
      <xs:element minOccurs="0" name="Taxes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Personalizations" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscountTarget" nillable="true" type="tns:DiscountTarget" />
  <xs:complexType name="OrderItemAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalCountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalStateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneFax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneWork" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemAddress" nillable="true" type="tns:OrderItemAddress" />
  <xs:complexType name="ArrayOfOrderItemPersonalization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemPersonalization" nillable="true" type="tns:OrderItemPersonalization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemPersonalization" nillable="true" type="tns:ArrayOfOrderItemPersonalization" />
  <xs:complexType name="OrderItemPersonalization">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceIsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonalizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalizationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalizationPrice" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="ParentSequence" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalizationPriceTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ForeignPersonalizationPriceTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemPersonalization" nillable="true" type="tns:OrderItemPersonalization" />
  <xs:complexType name="ArrayOfOrderItemSkuDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemSkuDetail" nillable="true" type="tns:OrderItemSkuDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemSkuDetail" nillable="true" type="tns:ArrayOfOrderItemSkuDetail" />
  <xs:complexType name="OrderItemSkuDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkuStyleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkuDetailCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemSkuDetail" nillable="true" type="tns:OrderItemSkuDetail" />
  <xs:complexType name="ArrayOfOrderItemNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemNote" nillable="true" type="tns:OrderItemNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemNote" nillable="true" type="tns:ArrayOfOrderItemNote" />
  <xs:complexType name="OrderItemNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoteSequence" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateChanged" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemNote" nillable="true" type="tns:OrderItemNote" />
  <xs:complexType name="ArrayOfOrderItemLocator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemLocator" nillable="true" type="tns:OrderItemLocator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemLocator" nillable="true" type="tns:ArrayOfOrderItemLocator" />
  <xs:complexType name="OrderItemLocator">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TCResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemSequence" type="xs:int" />
          <xs:element minOccurs="0" name="SystemCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Locator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderItemLocator" nillable="true" type="tns:OrderItemLocator" />
  <xs:complexType name="ArrayOfFee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fee" nillable="true" type="tns:Fee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFee" nillable="true" type="tns:ArrayOfFee" />
  <xs:complexType name="Fee">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParentSequence" type="xs:int" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="AmountTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignAmountTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleSetID" type="xs:int" />
      <xs:element minOccurs="0" name="IsWaivable" type="xs:boolean" />
      <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="FeeType" type="q10:AOSFeeType" />
      <xs:element minOccurs="0" name="FromSku" type="xs:boolean" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fee" nillable="true" type="tns:Fee" />
  <xs:complexType name="ArrayOfOrderItemLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemLocation" nillable="true" type="tns:OrderItemLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemLocation" nillable="true" type="tns:ArrayOfOrderItemLocation" />
  <xs:complexType name="OrderItemLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationSequence" type="xs:int" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UtcOffset" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemLocation" nillable="true" type="tns:OrderItemLocation" />
  <xs:complexType name="ArrayOfOrderItemParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemParameter" nillable="true" type="tns:OrderItemParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemParameter" nillable="true" type="tns:ArrayOfOrderItemParameter" />
  <xs:complexType name="OrderItemParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipantSequence" type="xs:int" />
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemParameter" nillable="true" type="tns:OrderItemParameter" />
  <xs:complexType name="ArrayOfOrderItemStatusHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemStatusHistory" nillable="true" type="tns:OrderItemStatusHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemStatusHistory" nillable="true" type="tns:ArrayOfOrderItemStatusHistory" />
  <xs:complexType name="OrderItemStatusHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="HistorySequence" type="xs:int" />
      <xs:element minOccurs="0" name="OrderStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="PreviousOrderStatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemStatusHistory" nillable="true" type="tns:OrderItemStatusHistory" />
  <xs:complexType name="ArrayOfOrderItemElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemElement" nillable="true" type="tns:OrderItemElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemElement" nillable="true" type="tns:ArrayOfOrderItemElement" />
  <xs:complexType name="OrderItemElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="BasePrice" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="ExternalInventoryId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InventoryId" type="xs:int" />
      <xs:element minOccurs="0" name="InventoryQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="ItemSkuCatalogSequence" type="xs:int" />
      <xs:element minOccurs="0" name="Discount" nillable="true" type="tns:OrderDiscount" />
      <xs:element minOccurs="0" name="Markup" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="ItemMarkup" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="VendorMarkup" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="RateMarkup" nillable="true" type="tns:ChargeableItem" />
      <xs:element minOccurs="0" name="SellQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="UsageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonalizationList" nillable="true" type="tns:ArrayOfOrderItemPersonalization" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipantSequence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemElement" nillable="true" type="tns:OrderItemElement" />
  <xs:complexType name="BookingPointOfSale">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ISOCountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceSystemCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookingPointOfSale" nillable="true" type="tns:BookingPointOfSale" />
  <xs:complexType name="ArrayOfTCOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TCOrderItem" nillable="true" type="tns:TCOrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTCOrderItem" nillable="true" type="tns:ArrayOfTCOrderItem" />
</xs:schema>